extends layout

block content

    h1= "Notes:"

    if notes !== null && notes !== undefined
        each note, index in notes
            li
                a(href='details/'.concat(note.note_id ? note.note_id : '')) Note #{index + 1}
    else
        p= "No notes!"