html
    head
        title= title
    body
        h1= message
        form(action='/notes/')
            button.btn.btn-create Notes
        form(action='/notes/create')
            button.btn.btn-create Create Note
